<!DOCTYPE html>
<html>
<head>
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/quill.base.css">
    <link rel="stylesheet" type="text/css" href="/styles/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="/styles/editor.css">
    <meta charset="utf-8">
</head>
<body>

<div class="container-fluid container-header">

    <div class="row main-header-row">
        <div class="col-sm-9 editor-tools-wrapper" id="editor-toolbar"> 
        </div>
        <div class="col-sm-3 assets-nav-wrapper">
            <a href="#tabChapters" aria-controls="home" role="tab" data-toggle="tab">Chapters</a>
            <a href="#tabChapters" aria-controls="home" role="tab" data-toggle="tab">Locations</a>
            <a href="#tabCharacters" aria-controls="home" role="tab" data-toggle="tab">Characters</a>
		</div>
    </div>
</div>

<div class="container-fluid container-main"> 
    <div class="row">
        <div class="col-sm-9 editor-wrapper" id="editor">
        </div>
        <div class="col-sm-3 assets-wrapper tab-content" id="assets">  
        </div>
    </div> 
</div>
<div>


</div>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--todo: bundle above also-->
<script src="/js/editor/bundle-editor.js"></script>
</body>
</html>
