html, body {
  height: 100%; }

body {
  background-color: #fff; }

.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden; }

.container-fluid-row {
  height: 100%; }

.no-left-padding {
  padding-left: 0;
  height: 100%; }

.no-right-padding {
  padding-right: 0; }

#editor-toolbar #formatting-container {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 45px; }
  #editor-toolbar #formatting-container #editor-toolbar-left {
    width: 50%;
    height: 100%;
    float: left; }
  #editor-toolbar #formatting-container #editor-toolbar-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right; }

#asset-header {
  background-color: #f5f5f5; }
  #asset-header .nav-tabs {
    padding-left: 25%;
    padding-top: 3px; }

.contrast1 {
  background-color: #f8f8f8; }
  .contrast1 li.active a {
    background-color: #f8f8f8; }

.contrast2 {
  background-color: #e0e0e0; }
  .contrast2 li.active a {
    background-color: #e0e0e0; }

.contrast3 {
  background-color: #a0a0a0; }
  .contrast3 li.active a {
    background-color: #a0a0a0;
    color: #f8f8f8; }

.contrast4 {
  background-color: #303030;
  color: #fff; }
  .contrast4 li.active a {
    background-color: #303030;
    color: #fff; }

.contrast5 {
  background-color: #fff; }
  .contrast5 li.active a {
    background-color: #fff; }

.tab-content {
  border-left: 1px solid #ccc;
  border-top: 1px solid transparent; }
  .tab-content h3 {
    text-align: center; }

.asset-box, .new-asset, .chapter-preview-thumb, .location-preview-thumb, .character-preview-thumb {
  margin: 10px auto auto auto;
  padding: 10px;
  width: 90%;
  text-align: center; }

.new-asset {
  height: 60px;
  background-color: #ffd900; }
  .new-asset .new-asset-title {
    width: 50%;
    float: left; }
  .new-asset .new-asset-create {
    width: 50%;
    float: left; }

.chapter-preview-thumb, .location-preview-thumb, .character-preview-thumb {
  height: 120px; }

.character-preview-thumb {
  background-color: #f2b866; }

.chapter-preview-thumb {
  background-color: #f5f5f5; }

.location-preview-thumb {
  background-color: #fff6de; }

#quill {
  min-height: 300px;
  padding: 80px 80px 125px 125px;
  overflow: hidden;
  height: 100%; }

#editor-wrapper {
  height: 100%; }

.ql-picker-label {
  background-color: #fbfbfb !important; }
