@import "bootstrap/bootstrap";

//todo: print friendly style sheet

// ------------------ variables --------------------/ 
$color-background: white;
//todo: set a good default for above or remove if not visible/needed 
$color-container-header-bg: #eee;
$color-container-header: #000;
$color-bar-secondary: #ccc;
$color-editor-wrapper: #fff;
$color-editor: darken($color-editor-wrapper, 3%);
$color-heading-strip: #f5f5f5;
$color-picker-label: #fbfbfb !important;
$color-active-tab-and-tab-contents: #C2D5F2;
$color-tab-border: #bbb;
$toolbar-height: 42px;
$gap-between-assets: 10px;
$asset-box-height: 115px;
$corner-radius: 4px;
$editor-padding: 25px;

// ------------------ mix-ins --------------------/ 
@mixin border-radius-editor($radius) {
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;;
  -ms-border-radius: $radius $radius 0 0;;
  border-radius: $radius $radius 0 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// ------------------ variables --------------------/ 
html, body {
  height: 100%;
  overflow: hidden;
  background-color: $color-background;
}

.container-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: $color-container-header-bg;
  color: $color-container-header;
  border-bottom: solid 1px $color-tab-border;

  .main-header-row {
	overflow: visible;
  }

  .editor-tools-wrapper, .assets-nav-wrapper {
	height: $toolbar-height;
	background-color: $color-container-header-bg;
  }

  .assets-nav-wrapper {
	padding-left: 0;
	padding-right: 0;

	#assets-ddl-menu {
	  width: 100%;

	  .btn {
		width: 100%;
		height: $toolbar-height;
		@include border-radius(0);
		border-right: 0;
		border-bottom: 0;
		border-top: 0;
	  }
	}

	#assets-ddl-menu ul {
	  width: 100%;
	  margin: auto; 
	  @include border-radius(0);
	  
	  li {
		width: 100%;
		a {
		  width: 100%;
		}
	  }
	}
  }
}

.container-main {
  padding-top: 42px;
  width: 100%;
  height: 100%;

  .row {
	height: 100%;
  }

  .editor-wrapper {
	background-color: $color-editor-wrapper;
	height: 100%;
	overflow: auto;
	padding: 0 0 0 $editor-padding;

	.ql-container {
	  padding: $editor-padding $editor-padding * 2 0 $editor-padding;

	  .ql-editor {
		background-color: $color-editor;
		padding: $editor-padding * 3;
		@include border-radius-editor($corner-radius);
	  }
	}

  }

  .assets-wrapper {
	height: 100%;
	overflow: auto;
	background-color: $color-active-tab-and-tab-contents;
	border-left: solid 1px $color-tab-border;
	padding-top: $gap-between-assets;

	.preview-box-master {
	  width: 90%;
	  margin: auto auto $gap-between-assets;
	  border: solid 1px $color-editor;
	}

	.new-asset {
	  @extend .preview-box-master;
	  height: $asset-box-height / 3;

	  .new-asset-title {
		width: 50%;
		float: left;
	  }

	  .new-asset-create {
		width: 50%;
		float: left;
	  }
	}

	.preview-thumb {
	  @extend .preview-box-master;
	  height: $asset-box-height;
	}
  }
}
