@import "bootstrap/bootstrap";

// ------------------ variables --------------------/ 
$color-background: white;
//todo: set a good default for above or remove if not visible/needed 
$color-container-header-bg: #eee;
$color-container-header: #000;
$color-bar-secondary: #ccc;
$color-editor-wrapper: #fafafa;
$color-heading-strip: #f5f5f5;
$color-picker-label: #fbfbfb !important;
$color-active-tab-and-tab-contents: #C2D5F2;
$color-tab-border: #bbb;

$toolbar-height: 42px;
$gap-between-assets: 10px;
$asset-box-height: 115px;

// ------------------ mix-ins --------------------/ 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// ------------------ variables --------------------/ 
html, body {
  height: 100%;
  overflow: hidden;
  background-color: $color-background;
}

.container-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: $color-container-header-bg;
  color: $color-container-header;
  border-bottom: solid 1px $color-tab-border;

  .main-header-row {
	overflow: hidden;
  }

  .editor-tools-wrapper, .assets-nav-wrapper {
	height: $toolbar-height;
	background-color: $color-container-header-bg;
  }

  .assets-nav-wrapper {
	padding-left: 0;
	padding-right: 0;
  }
}

.container-main {
  padding-top: 42px; // todo: 42
  width: 100%;
  height: 100%;

  .row {
	height: 100%;
  }

  .editor-wrapper {
	background-color: $color-editor-wrapper;
	height: 100%;
	overflow: auto;
  }

  .assets-wrapper {
	height: 100%;
	overflow: auto;
	background-color: $color-active-tab-and-tab-contents;
	border-left: solid 1px $color-tab-border;
	padding-top: $gap-between-assets; 
	
	.preview-box-master {
	  width: 90%;
	  margin: auto auto $gap-between-assets;
	  border: solid 1px red;
	}

	.new-asset{ 
	  @extend .preview-box-master;
	  height: $asset-box-height / 3;

	  .new-asset-title {
		width:50%;
		float: left;
	  }

	  .new-asset-create {
		width:50%;
		float: left;
	  }
	}
	 
	.preview-thumb {
	  @extend .preview-box-master;
	  height: $asset-box-height;
	}
  }
}
